/*
	
	Exegesis Framework by Timothy Long
	
    - Demo Styles

*/

section {
    margin: 3em 0;
}
.col {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.grid .col {
	background-color: #eee;
    padding: 1em;
}
.prelude {
    color: #aaa;
}