/*
    
    Exegesis Framework by Timothy Long
    
    - Presets

*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, button, input, select, textarea {
    color:#222;
}
body {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}
::selection {
    background-color:#ffeeb2;
    color:#222;
    text-shadow:none
}
::-moz-selection {
    background-color:#ffeeb2;
    color:#222;
    text-shadow:none
}
img {
    vertical-align:middle;
}
.col img {
    width: 100%;
    height: auto;
}
a,a:visited {
    color: #444;
}
a:focus {
    outline:0;
}
a:active,a:hover {
    outline:0;
    color: #222;
}

/*

    Layout

*/

.row:after,.col:after {
    content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.row {
    margin-bottom:2%;
}
.col {
    display:block;
    float:left;
    width:100%;
    margin-left:2%;
}
.col:first-child {
    margin-left:0;
}
.col p:last-child {
    margin: 0;
}
.container {
    width:90%;
    margin: 0 5%;
}
.span_1 {
    width:6.5%;
}
.span_2 {
    width:15.0%;
}
.span_3 {
    width:23.5%;
}
.span_4 {
    width:32.0%;
}
.span_5 {
    width:40.5%;
}
.span_6 {
    width:49.0%;
}
.span_7 {
    width:57.5%;
}
.span_8 {
    width:66.0%;
}
.span_9 {
    width:74.5%;
}
.span_10 {
    width:83.0%;
}
.span_11 {
    width:91.5%;
}
.span_12 {
    width: 100%;
}

/*

    Type

*/

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size:2em;
    margin:0 0 0.67em;
}
h2 {
    font-size:1.5em;
    margin:0 0 0.83em;
}
h3 {
    font-size:1.17em;
    margin:0 0 1em;
}
h4 {
    font-size:1em;
    margin:0 0 1.33em;
}
h5 {
    font-size:.83em;
    margin:0 0 1.67em;
}
h6 {
    font-size:.67em;
    margin:0 0 2.33em;
}
.prelude {
    font-size:1.5em;
    line-height: 1.5em;
}

/*

    Mobile

*/

@media only screen and (max-width: 480px) {
    .container {
        width:85%;
        margin: 0 auto;
    }
    .col {
        margin-left:0;
    }
    .row {
        margin: 0;
    }
    .span_1,
    .span_2,
    .span_3,
    .span_4,
    .span_5,
    .span_6,
    .span_7,
    .span_8,
    .span_9,
    .span_10,
    .span_11,
    .span_12 {
        width: 100%;
        margin-bottom: 2%;
    }
}

/*

    Tablet

*/

@media only screen and (max-width: 768px) {
    .container {
        width:85%;
        margin: 0 auto;
    }
    .col {
        margin-left:0;
    }
    .row {
        margin: 0;
    }
    .span_1,
    .span_2,
    .span_3,
    .span_4,
    .span_5,
    .span_6,
    .span_7,
    .span_8,
    .span_9,
    .span_10,
    .span_11,
    .span_12 {
        width: 100%;
        margin-bottom: 20px;
    }
}

/*

    Retina Images

*/

@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    
}